@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none!important;
}

#header,
#store-features,
#top-content-menu{
  width: 100%;
}
#header > div{
  padding: 0 104px;
}
@media(min-width: 992px){
  #header {
    height: 150px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }
}
@media(max-width: 992px){
  #header {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem; 
  }
  #header .shopping-bag-items{
    margin-top: 10px;
    float: right;
  }
  #footer .main-footer{
    text-align: center;
  }
}
#header ul li {
  display: inline;
  text-align: center;
}
#header a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  font-size: 10px;
  text-decoration: none;
  color: #333;
}
#header .menu,
.top-content-block-title{
  text-transform: uppercase;
  font-weight: bold;
}
.menu-nav-wrapp{
  padding: 4px 0;
  text-align: right;
  padding-right: 48px;
}
.menu-nav-wrapp .menu{
  margin-bottom: 0;
}
.menu li a i{
  padding-left: 6px;
}
.logo-wrapp{
  padding-left: 0;
}
.logo-text{
  width: fit-content;
}
.logo_code{
  color: rgb(226, 69, 69);
  font-size: 22px;
  font-weight: bold;
}
.logo_it{
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.logo_it,
.logo_store,
.breadcrumbs ul li{
  text-transform: uppercase;
}
.logo_store{
  display: block;
  letter-spacing: 9px;
  font-size: 10px;
}
.menu li:hover a:after{
  transition: all 1s;
}
.menu li:not(:last-child) a:after{
  content: "";
  display: none;
  margin: 0 auto;
  width: 10px;
  border: 1px solid;
  padding-top: 0;
  margin-left: 0;
  transition: all 1s;
}
.menu li.active a:after{
  display: block!important;
}
.menu li:hover a:after{
  display: block!important;
  transition: 1s ease-in-out;
}

.breadcrumbs ul li,
.breadcrumbs ul li a{
  font-weight: bold;
}
.breadcrumbs ul li a{
  color: #000;
}
.breadcrumbs ul li a:last-child{
  color: rgb(136, 136, 136);
}
.breadcrumbs ul li > span {
  margin-left: 10px;
}

.shopping-sum{
  display: inline-block;
}
.shopping-content{
  padding: 7px 0;
}
.shopping-bag-items{
  border: 2px solid #000;
  width: fit-content;
  position: relative;
  height: 38px;
}
.active a,
.shopping-bag-items i:before{
  color: rgb(226, 67, 67)!important;
}
.shopping-bag-items i{
  padding-right: 10px;
}
.shopping-sum,
.clear{
  font-weight: bold;
}
.items-amount{
  position: absolute;
  top: 7px;
  left: 90%;
  background: #000;
  color: #fff;
  padding: 4px;
  margin: 2px;
  height: 16px;
  width: 16px;
  font-size: 8px;
  align-content: center;
  border-radius: 15px;
  text-align: center;
  outline: #fff solid 1px;
}

/*@media(min-width: 992px){
  #content .top-content-block{
    margin-left: -104px;
    padding-left: 104px;
    margin-right: -104px;
    padding-right: 104px;
  }
}*/
#top-content-menu .top-content-block{
  /*height: 150px;*/
  padding: 0 104px;
  line-height: 140px;
  background: rgb(247,247,247) url('../img/header_layer.png');
}
.top-content-block-title{
  float: left;
}
.breadcrumbs{
  float: right;
}
.top-content-block{
}
.content-page{
  overflow: auto;
  text-align: center;
}
#content .content-page .product-item{
  height: 375px;
  width: 262px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  position: relative;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
}
.product-item:hover{
  background: rgb(246, 246, 246);
}
.product-item:hover .product-settings ul li{
  background-color: rgb(226, 69, 69);
  border: 1px solid #fff;
  transition: all 1s ease;
}
.product-item:hover .product-settings ul li i:before{
  color: #fff;
}
.product-settings{
  position: absolute;
  bottom: 0;
  left: 84px;
}
.product-image{
  padding-top: 30px;
  transition: all 1s ease;
}
.product-item:hover .product-image{
  z-index: 99;
  background: rgba(49, 49, 49, 0.9);
  transition: all 1s ease;
}
.product-item:hover .product-image .remove-item{
  display: inline-block!important;
}
.product-item:hover .product-image img{
  z-index: 4;
  position: relative;
  opacity: 0.1;
}
.product-item .product-image img{
  border-bottom: 1px solid #000;
  padding-bottom: 18px;
  height: 190px;
}
.remove-item{
  display: none;
  position: relative;
  top: -130px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  line-height: 40px;
}

@media(min-width: 768px){
  #content .content-page .product-item{
    margin-bottom: 50px;
    margin-right: 30px;
  }
  #content .content-page .product-item:last-child{
    margin-right: 0!important;
  }
}
@media(max-width: 992px){
  #content .content-page .product-item:nth-child(odd){
    margin-bottom: 50px;
    margin-right: 30px;
  }
}
.product-image{
  height: 220px;
}
.product-title{
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 22px;
}
.product-price{
  color: rgb(226, 67, 67);
  font-weight: bold;
}
.prev-price{
  text-decoration:line-through;
  color: rgb(136, 136, 136)!important;
  font-weight: bold;
  margin-left: 12px;
  display: inline-block;
}

#footer{
  width: 100%;
  padding: 0;
}
#footer .pre-footer{
  background: rgb(246, 246, 246);
  width: 100%;
  padding: 0 89.5px;
  border-top: 2px solid rgb(221, 221, 221);
  margin: 0;
}
#footer .main-footer{
  background: rgb(230, 230, 230);
  width: 100%;
  padding: 0 89.5px;
  margin: 0;
}
#footer .pre-footer > div{
  display: inline-block;
  padding: 64px 0;
}
#footer .main-footer > div{
  display: inline-block;
  padding: 36px 0;
}
.pre-footer form input{
  height: 50px;
}
.pre-footer ul,
.product-settings ul{
  display: inline-flex;
  margin-bottom: 0;
}
.pre-footer ul li,
.product-settings ul li{
  height: 50px;
  line-height: 46px;
  text-align: center;
  width: 52px;
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
  transition: all 1s ease;
}
.pre-footer ul li.active,
.pre-footer ul li:hover,
.product-settings ul li:hover{
  background-color: rgb(226, 69, 69);
  transition:all 1s ease;
}
.pre-footer ul li:last-child,
.product-settings ul li:last-child{
  border-right: 1px solid rgb(204, 204, 204);
}
.pre-footer ul li:hover i:before,
.product-settings ul li:hover i:before{
  color: #fff;
}
.pre-footer ul li i:before,
.product-settings ul li i:before{
  color: rgb(153, 153, 153);
}
.clear-list-block{
  padding: 45px 0;
  text-align: right;
}
.clear-wish-list{
  margin-right: 20px;
}
.clear{
  border: 2px solid #000;
  height: 38px;
  background: #fff;
  text-transform: uppercase;
}
.payment-icons-block{
  float: right;
}
.payment-icons-list{
  margin-bottom: 0;
}

/****************************************/
.owl-carousel{
  display: inline-block;
  padding: 135px 110px;
  border-top: 1px solid rgb(221, 221, 221);
}
.owl-stage-outer{
  position: relative;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 26px 50px;
}
.owl-carousel .owl-stage-outer:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 0px;
  left: 0;
  margin: 0 auto;
  width: 20px;
  border: 1px solid; 
}
.owl-carousel .owl-stage-outer:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 0px;
  right: 0;
  margin: 0 auto;
  width: 20px;
  border: 1px solid; 
}
.owl-carousel .item {
  margin: 3px;
}
.owl-carousel .item img {
  display: block;
  width: 50%;
  height: auto;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.feature-icon,
.feature-info{
  display: inline-block;
  vertical-align: top;
}
.feature-icon i:before{
  font-size: 28px;
}
.feature-icon{
  width: 42px;
}
.feature-info{

}
#content .pagging ul{
  text-align: center;
  margin-bottom: 100px;
  margin-top: 40px;
}
#content .pagging .page{
  text-align: center;
}
#content .pagging .page.active{
  line-height: 30px;
  width: 30px;
  border: 1px solid #000;
  color: rgb(226, 67, 67);
  position: relative;
}
#content .pagging .page{
  line-height: 30px;
  width: 30px;
  border: 1px solid #dddddd;
  color: #dddddd;
  position: relative;
}
#content .pagging .page a{
  color: #dddddd;
}
#content .pagging .page{
  cursor: pointer;
}
#content .pagging .page:not(:last-child){
  margin-right: 4px;
}
.store-feature-title{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.store-feature-about-info{
  font-size: 10px;
}
.subscribe-input-block form div i{
  float: right;
  position: relative;
  top: -34px;
  right: 20px;
}
.subscribe-input-block form div i:before{
  color: rgb(203, 203, 203);
}
.subscribe-input-block input::placeholder,
.subscribe-input-text-block,
.main-footer > div{
  text-transform: uppercase;
}
.subscribe-input-block input{
  border-radius: 0;
}
.subscribe-input-text-block{
  font-weight: bold;
  color: rgb(116, 116, 116);
}
@media(max-width: 768px){
  .pre-footer > div,
  .main-footer > div{
    text-align: center;
  }
  .subscribe-input-block form > div{
    margin-top: 15px;
  }
}
.input-error{
  border: 1px solid red;
}
@media(max-width: 570px){
  .pre-footer ul{
    width: 130px;
  }
  .payment-icons-block .list-inline > li{
    margin-bottom: 10px;
  }
  .main-footer div:first-child{
    margin: 0 -15px;
  }
  .owl-carousel .owl-stage-outer{
    padding: 26px 30px;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded{
    padding: 70px 82px;
  }
}